.stockTilePriceTag{
  font-size: 1.2em !important;
  margin-top: 1em;
}

.stockTileDetailBox{
  font-size: 1.2em !important;
  margin-top: .25em;
}

.text-left{
  text-align: left !important;
}

.stockTile-text{
  font-size: 3em;
}