.stock-tile-price-tag{
  font-size: 2em !important;
  margin-top: .4em;
}

.stock-tile-detail-box{
  font-size: 1.2em !important;
  margin-top: .25em;
  text-align:right !important;
}

.text-left{
  text-align: left !important;
}

.stockTile-text{
  font-size: 3em;
}